/* selector universal */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: rgb(63, 63, 63) !important;
}

section {
    margin: 50px ;
}

#lista li {display: inline;
    margin-right: 50px;
}

a {text-decoration: none;
}

.cuadro {background-color: rgb(228, 228, 228);
margin-top: 140px;
margin-bottom: 140px;
width: 400px;
height: 400px;
padding: 60px 50px;
display: flex;
align-items: center;
}

.frase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaGris{
    margin-top: 200px;
    width: 280px;
}

.imagen {
    text-align: cen;
    margin-left: 450px;
    margin-top: 10px;
    width: 350px;
}

header {
    background-color: #232323;
    opacity: .9;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top: 0;
}


footer {

    margin-top: 300px;
}

.irArriba {
    margin-top: 100px
}


.nav-link {
    color: white;
}   

.navbar-brand {
    color: white;
}

.carousel-item img {
    height: 45vh;
}

@media (min-width: 520px) {
    .carousel-item img {
        height: 50vh;
    }
}

@media (min-width: 768px) {
    .carousel-item img {
        height: 70vh;
    }
}

@media (min-width: 1024px) {
    .carousel-item img {
        height: 80vh;
    }

    #carouselExampleIndicators {
        width: 70%;
        margin: 0 auto
    }
}

