/* selector universal */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: rgb(63, 63, 63) !important;
}

section {
    margin: 50px ;
}

#lista li {display: inline;
    margin-right: 50px;
}

a {text-decoration: none;
}

.cuadro {
margin-top: 140px;
margin-bottom: 140px;
width: 91%;
height: 400px;
padding: 60px 50px;
display: flex;
align-items: center;
}

.cuadro section{
    background-color:rgb(228, 228, 228)
}

@media (max-width: 520px) {
    .cuadro {
        height: 50vh;
    }
}

@media (min-width: 768px) {
    .cuadro  {
        height: 70vh;
    }
}

@media (min-width: 1024px) {
    .cuadro  {
        height: 80vh;
    }
}

.frase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaGris{
    margin-top: 200px;
    width: 280px;
}

.imagen {
    text-align: cen;
    margin-left: 450px;
    margin-top: 10px;
    width: 350px;
}

header {
    background-color: #232323;
    opacity: .9;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top: 0;
}


footer {

    margin-top: 300px;
}

.irArriba {
    margin-top: 100px
}


.nav-link {
    color: white;
}   

.navbar-brand {
    color: white;
}

.carousel-item img {
    height: 45vh;
}

@media (min-width: 520px) {
    .carousel-item img {
        height: 50vh;
    }
}

@media (min-width: 768px) {
    .carousel-item img {
        height: 70vh;
    }
}

@media (min-width: 1024px) {
    .carousel-item img {
        height: 80vh;
    }

    #carouselExampleIndicators {
        width: 70%;
        margin: 0 auto
    }
}

.banner {
    background-image: url(/img/jobs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h2 {
    background-color: #232323;
    opacity: .9;
}

.parrafos {
    width: 85%;
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #232323;
    color: white; 
}

.contenedor img {
    width: 450px;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse .contenedor-textos {
    text-align: right;
}   

.contenedor-padre {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer {
    color: #232323;
    text-align: center;
    padding: 30px;
}

img {
    max-width: 100%;
}

.curso {
    background-color: #232323;
    color: white;
    width: 300px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.curso button {
    border: none;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;   
}

.padre-cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}