@charset "UTF-8";
/* PALETA DE COLORES */
/* FUENTE PRINCIPAL */
/* TAMAÑOS FUENTE */
/* RESOLUCIONES DE PANTALLA */
/* ESPACIADOS */
/* MIXINS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #232323;
  background-color: #ffffff;
}

header {
  background-color: #232323;
  opacity: 0.9;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}

footer {
  margin-top: 300px;
}

.irArriba {
  margin-top: 100px;
}

.nav-link {
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
}

a {
  text-decoration: none;
}

#lista li {
  display: inline;
  margin-right: 50px;
}

footer {
  background-color: #232323;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}

img {
  max-width: 100%;
}

.vis {
  background-color: #232323;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  align-content: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.cuadro {
  margin-top: 140px;
  margin-bottom: 140px;
  width: 91%;
  height: 35px;
  padding: 60px 50px;
  display: flex;
  align-items: center;
}

.cuadro section {
  background-color: #ffffff;
}

.cajaGris {
  margin-top: 200px;
  width: 280px;
}

.imagen {
  text-align: cen;
  margin-left: 450px;
  margin-top: 10px;
  width: 350px;
}

@media (max-width: 520px) {
  .cuadro {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .cuadro {
    height: 70vh;
  }
}
@media (min-width: 1200px) {
  .cuadro {
    height: 55vh;
  }
}
.carousel-item img {
  height: 45vh;
}

@media (min-width: 520px) {
  .carousel-item img {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .carousel-item img {
    height: 70vh;
  }
}
@media (min-width: 1200px) {
  .carousel-item img {
    height: 80vh;
  }
  #carouselExampleIndicators {
    width: 70%;
    margin: 0 auto;
  }
}
.frase {
  color: #ffffff;
  background-color: #232323;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.navbar-toggler {
  background-color: #ffffff;
  color: #ffffff;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #232323;
  color: #ffffff;
}

.contenedor img {
  width: 450px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .contenedor-textos {
  text-align: right;
}

.contenedor-padre {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.curso {
  background-color: #232323;
  color: #ffffff;
  width: 300px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.curso button {
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.padre-cursos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.banner {
  background-image: url(/img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.banner h2 {
  background-color: #232323;
  opacity: 0.9;
}

.parrafos {
  width: 85%;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
