.cuadro {
    margin-top: 140px;
    margin-bottom: 140px;
    width: 91%;
    height: 30px;
    padding: 60px 50px;
    display: flex;
    align-items: center;
    }
    
.cuadro section{
        background-color: $color-secundario
}


.cajaGris{
    margin-top: 200px;
    width: 280px;
}

.imagen {
 
    margin-left: 450px;
    margin-top: 10px;
    width: 350px;
}

@media (max-width: $mobile) {
    .cuadro {
        height: 50vh;
    }
}

@media (min-width: $tablet) {
    .cuadro  {
        height: 70vh;
    }
}

@media (min-width: $desktop) {
    .cuadro  {
        height: 90vh;
    }
}


.frase {
    color: $color-secundario;
    background-color: $color-primario;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    opacity: .9;

    transition: all 2s;

    &:hover {
        background-color: $color-secundario;
        color: $color-primario;
    }
}

.navbar-toggler {
    background-color: $color-secundario;
    color: $color-secundario;
}

.caja {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;  
}


.caja img {
    height: 40px;
    width: 40px;
    display: grid;
    text-align: center;
    margin: auto;
}



.caja-cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;

}

.card {
    height:30vh 30vh;

&:hover {
    height: 40vh 40vh;
    background-color: $color-primario;
    color: $color-secundario;
    transition: all 2s;
}    
}

.textos {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    display:grid;
    padding: 4vh;
    text-align: center;
}

.estudiar-nosotros {
    text-align: center;
    margin: 70px;    
}   


@media (max-width: $mobile) {
    .caja {width: 100%;
    }
}

@media (min-width: tablet) {
    .caja {
        width: 80%;
    }
}

@media (min-width: $desktop) {
    .caja{
        width: 50%;
    }
}

.irArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
}