* {
    margin: 0;
    padding: 0;
}

body {
    color: $color-primario;
    background-color: $color-secundario;
}


header {
    background-color: $color-primario;
    opacity: .9;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 1;

}


footer {

    margin-top: 300px;
}

.irArriba {
    margin-top: 100px
}


.nav-link {
    color: $color-secundario;
}   

.navbar-brand {
    color: $color-secundario;
}

a {text-decoration: none;
}

#lista li {display: inline;
    margin-right: 50px;
}

footer {
    background-color: $color-primario;
    color: $color-secundario;
    text-align: center;
    padding: 30px;
}

img {
    max-width: 100%;
}

.vis {
    background-color: $color-primario;
    color: $color-secundario;
    padding: 10px;
    text-align: center;    
    align-items: center;
    display: flex;
    align-content: center;
}

h1 {
    text-align: center;
    margin-top: $espaciado-general * 2;
}

